@Html.Partial("~/Views/Home/Index.cshtml")
@Html.ValidationSummary(true)

@{
    if (Model != null)
    {
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <div class="carousel-inner" role="listbox" style="width:100%; height: 500px">
            @{
                var i = 0;
                foreach (var imageUrl in Model.ImageUrls)
                {
                    var itemClass = i++ == 0 ? "item active" : "item";
                    <div class="@itemClass">
                        <img src="@imageUrl" class="img-responsive" />
                    </div>
                }
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pair in Model.WordsCount)
            {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value</td>
            </tr>
            }
        </tbody>
    </table>
    }
}
