﻿@{
    ViewData["Title"] = "Home Page";
}

<center>
    <h2>URL Scrapper</h2>
    <form asp-controller="Results" asp-action="Index">
        <div class="input-group col-lg-3">
            <input id="url" type="text" class="form-control" placeholder="URL" name="urlString" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Go!</button>
            </span>
        </div>
    </form>
</center>
@Html.ValidationSummary(true)

@Html.ValidationMessage("InvalidUrl")